<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.github.ksmirenko.toeflcards">

    <application
        android:name="ToeflCardsApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".layout.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.CardActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".layout.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".layout.DictionaryActivity"
            android:label="@string/dictionary"
            android:launchMode="singleTop"
            android:parentActivityName=".layout.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_dict"/>
        </activity>
        <activity
            android:name=".layout.ModuleSettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:parentActivityName=".layout.MainActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>